.header{
  width: 100%;
  background-color: #17191d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 20%;
  padding: 0.5rem;

  div{
    flex-basis: 40%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    .logo{
      width: 32px;
    }

    p{
      color: #228BE6;
      font-size: 1rem;
      font-weight: 700;

      span{
        color: white;
      }
    }


  }

  .search-form{
    flex-basis: 40%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    input{
      width: 40%;
      height: 32px;
      border-radius: 5px;
      border: 2px solid black;
      padding: 0 10px;
      background-color: #17191d;
      color: white;
      font-size: 1rem;

      &:focus{
        outline: none;
        border: 1px solid #228BE6;
        background-color: #17191d;
        color: white;
      }
    }

    button{
      border: none;
      background-color: #17191d;
      padding:none;

      .search-icon{
        width: 32px;
      }
    }

    
  }
}

.news-detail-container{
  width:100%;
  display: flex;
  border: 2px solid red;
  align-items: flex-start;

  .subreddit-container{
    flex-basis: 25%;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #17191d;

    .subreddit-list,h2{
      margin-left: 20px;
    }

  }
}


.news-details{
  flex-basis: 70%;
  margin-top: 20px;
  margin-left: 20px;
  
  .news-item{
    
    background-color: #17191d;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;

    h2{
     
      text-align: center;
    }
    .news-image{
      
      width: 80%;
      display: block;
      margin: auto;
      height: 250px;
     
    }
    .news-bottom{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 10px;
      border-top: 1.2px solid #2a2c31 ;
    }

    ul{
      
      list-style: none;
      width: 95%;
      margin-top: 10px;
      margin: auto;
      
      
      

      li{
        background-color: #2a2c31;
        padding: 5px 15px;
        border-radius: 5px;
        color: white;
        font-size: 0.8rem;
        font-weight: 700;
        margin-bottom: 10px;
        transition: box-shadow 0.3s ease-in-out;

        &:hover{
          box-shadow: 0 2px 5px rgb(148, 147, 147);
        }
        
      }

      .comment-header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        div:first-child {
          display: flex;
          align-items: center;
          
        }
      }
      
      
    }
  }
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
